@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter", sans-serif;
}
.header {
    @apply fixed
}

.sticky {
    @apply fixed z-[9999] bg-white bg-opacity-80 transition;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sticky .navbar-logo {
    @apply py-2;
}

.sticky #navbarToggler span {
    @apply bg-dark;
}

.sticky #navbarCollapse li a {
    @apply text-dark hover:text-primary hover:opacity-100;
}
#navbarCollapse li .ud-menu-scroll.active {
    @apply opacity-70;
}
.sticky #navbarCollapse li .ud-menu-scroll.active {
    @apply text-primary opacity-100;
}
.sticky .loginBtn {
    @apply text-dark hover:text-primary hover:opacity-100;
}

.sticky .signUpBtn {
    @apply bg-primary text-white hover:bg-dark hover:text-white;
}

.navbarTogglerActive > span:nth-child(1) {
    @apply top-[7px] rotate-45 transform;
}
.navbarTogglerActive > span:nth-child(2) {
    @apply opacity-0;
}
.navbarTogglerActive > span:nth-child(3) {
    @apply top-[-8px] rotate-[135deg];
}

.container-inner {
    width: 1200px;
    margin: auto;
}

/*parallax*/
.parallax-wrap {
    position: relative;
    width: 100%;
}
.stripes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(39,42,63);
    z-index: -1;
}
.stripe {
    width: 100%;
    height: 160px;
    background: rgb(36, 39, 59);
    margin-top: 275px;
}
.ani_container {
    position: relative;
    width: 975px;
    margin: auto;
    margin-top: -40px;
    z-index: 1;

}
.ani_road_straight {
    position: absolute;
    left: 86%;
    width: 1800px;
    height: 110px;
}
.ani_bus {
    position: absolute;
    top: 0;
    /*left: 820px*/
    z-index: 1;
    transform: rotate(-90deg);
    offset-path: path('M974.9,47l-166.3,0.7c0,0-218.5-26.9-395.3,109.5c0,0-113.8,76.6-143.4,201.4c0,0-43,122.6,67.1,250.9l103.8,117.7c0,0,93.1,103.5,22.4,226.3l-134.5,212.4c0,0-107.7,135-40.6,260.6l148.7,232.4c0,0,87.6,127.6-2.4,257.8l-146.3,233.4c0,0-58,130.9,25.6,231.4l110.3,172c0,0,116,132.3-6.7,304.6l-124.5,197c0,0-72.5,100.9,19.4,233.8l114,180.4c0,0,123.1,166.2,22.1,282.6L34.2,4181.5');
    offset-distance: 0%;
    /*animation: aniBus 10s linear alternate infinite;*/
    transform-origin: center;
    transition: 0.6s all ease;
}
.ani_bus img {
    height: 220px !important;
}

.object-wrap {
    position: absolute;
    top: 20%;
    width: 100%;
    color: #fff;
    font-size: 20px;
}
.object-wrap .object {
    width: 240px;
    text-align: center;
    margin-bottom: 50%;
}
.object-wrap .object.left {
    margin-right: auto;
}
.object-wrap .object.right {
    margin-left: auto;
}
.object-wrap .object .img {
    background: #fff;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 40px;
    margin: 30px auto;
    /*animation: aniBounce 1.4s linear infinite;*/
}
.object-wrap .object.left .img {
    box-shadow: rgba(246, 226, 46, 0.4) -5px 5px, rgba(246, 226, 46, 0.3) -10px 10px, rgba(246, 226, 46, 0.2) -15px 15px, rgba(246, 226, 46, 0.1) -20px 20px, rgba(246, 226, 46, 0.05) -25px 25px;
}
.object-wrap .object.right .img {
    box-shadow: rgba(246, 226, 46, 0.4) 5px 5px, rgba(246, 226, 46, 0.3) 10px 10px, rgba(246, 226, 46, 0.2) 15px 15px, rgba(246, 226, 46, 0.1) 20px 20px, rgba(246, 226, 46, 0.05) 25px 25px;
}

.object-wrap .object .tit {
    font-weight: bold;
    font-size: 36px;
}

@keyframes aniBus {
    from {
        offset-distance: 0%;
    }
    to {
        offset-distance: 100%;
    }
}


@keyframes aniBounce {
    from {
        transform: scale(0.2);
    }
    25% {
        transform: scale(0.6);
    }
    50% {
        transform: scale(0.4);
    }
    75% {
        transform: scale(1);
    }
    to {
        transform: scale(0.8);
    }
}

@media (max-width: 840px) {
    .ani_bus {
        position: absolute;
        top: 0;
        /*left: 820px*/
        z-index: 1;
        transform: rotate(-90deg);
        offset-path: path('M974.9,47l-166.3,0.7c0,0-218.5-26.9-395.3,109.5c0,0-113.8,76.6-143.4,201.4c0,0-43,122.6,67.1,250.9l103.8,117.7c0,0,93.1,103.5,22.4,226.3l-134.5,212.4c0,0-107.7,135-40.6,260.6l148.7,232.4c0,0,87.6,127.6-2.4,257.8l-146.3,233.4c0,0-58,130.9,25.6,231.4l110.3,172c0,0,116,132.3-6.7,304.6l-124.5,197c0,0-72.5,100.9,19.4,233.8l114,180.4c0,0,123.1,166.2,22.1,282.6L34.2,4181.5');
        offset-distance: 0%;
        /*animation: aniBus 10s linear alternate infinite;*/
        transform-origin: center;
        transition: 0.6s all ease;
    }
    .ani_bus img {
        height: 220px !important;
    }
}

@media (max-width: 800px) {
    .ani_bus {
        position: absolute;
        top: 0;
        /*left: 820px*/
        z-index: 1;
        transform: rotate(-90deg);
        offset-path: path('M974.9,47l-166.3,0.7c0,0-218.5-26.9-395.3,109.5c0,0-113.8,76.6-143.4,201.4c0,0-43,122.6,67.1,250.9l103.8,117.7c0,0,93.1,103.5,22.4,226.3l-134.5,212.4c0,0-107.7,135-40.6,260.6l148.7,232.4c0,0,87.6,127.6-2.4,257.8l-146.3,233.4c0,0-58,130.9,25.6,231.4l110.3,172c0,0,116,132.3-6.7,304.6l-124.5,197c0,0-72.5,100.9,19.4,233.8l114,180.4c0,0,123.1,166.2,22.1,282.6L34.2,4181.5');
        offset-distance: 0%;
        /*animation: aniBus 10s linear alternate infinite;*/
        transform-origin: center;
        transition: 0.6s all ease;
    }
    .ani_bus img {
        height: 220px !important;
    }
}

@media (max-width: 680px) {
    .ani_bus {
        position: absolute;
        top: 0;
        /*left: 820px*/
        z-index: 1;
        transform: rotate(-90deg);
        offset-path: path('M974.9,47l-166.3,0.7c0,0-218.5-26.9-395.3,109.5c0,0-113.8,76.6-143.4,201.4c0,0-43,122.6,67.1,250.9l103.8,117.7c0,0,93.1,103.5,22.4,226.3l-134.5,212.4c0,0-107.7,135-40.6,260.6l148.7,232.4c0,0,87.6,127.6-2.4,257.8l-146.3,233.4c0,0-58,130.9,25.6,231.4l110.3,172c0,0,116,132.3-6.7,304.6l-124.5,197c0,0-72.5,100.9,19.4,233.8l114,180.4c0,0,123.1,166.2,22.1,282.6L34.2,4181.5');
        offset-distance: 0%;
        /*animation: aniBus 10s linear alternate infinite;*/
        transform-origin: center;
        transition: 0.6s all ease;
    }
    .ani_bus img {
        height: 220px !important;
    }
}

@media (max-width: 480px) {
    .ani_bus {
        position: absolute;
        top: 0;
        /*left: 820px*/
        z-index: 1;
        transform: rotate(-90deg);
        offset-path: path('M974.9,47l-166.3,0.7c0,0-218.5-26.9-395.3,109.5c0,0-113.8,76.6-143.4,201.4c0,0-43,122.6,67.1,250.9l103.8,117.7c0,0,93.1,103.5,22.4,226.3l-134.5,212.4c0,0-107.7,135-40.6,260.6l148.7,232.4c0,0,87.6,127.6-2.4,257.8l-146.3,233.4c0,0-58,130.9,25.6,231.4l110.3,172c0,0,116,132.3-6.7,304.6l-124.5,197c0,0-72.5,100.9,19.4,233.8l114,180.4c0,0,123.1,166.2,22.1,282.6L34.2,4181.5');
        offset-distance: 0%;
        /*animation: aniBus 10s linear alternate infinite;*/
        transform-origin: center;
        transition: 0.6s all ease;
        width: 50px;
    }
    .ani_bus img {
        height: 220px !important;
    }
}

@media (max-width: 362px) {
    .ani_bus {
        position: absolute;
        top: 0;
        /*left: 820px*/
        z-index: 1;
        transform: rotate(-90deg);
        offset-path: path('M974.9,47l-166.3,0.7c0,0-218.5-26.9-395.3,109.5c0,0-113.8,76.6-143.4,201.4c0,0-43,122.6,67.1,250.9l103.8,117.7c0,0,93.1,103.5,22.4,226.3l-134.5,212.4c0,0-107.7,135-40.6,260.6l148.7,232.4c0,0,87.6,127.6-2.4,257.8l-146.3,233.4c0,0-58,130.9,25.6,231.4l110.3,172c0,0,116,132.3-6.7,304.6l-124.5,197c0,0-72.5,100.9,19.4,233.8l114,180.4c0,0,123.1,166.2,22.1,282.6L34.2,4181.5');
        offset-distance: 0%;
        /*animation: aniBus 10s linear alternate infinite;*/
        transform-origin: center;
        transition: 0.6s all ease;
        width: 50px;
    }
    .ani_bus img {
        height: 220px !important;
    }
}